/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL CLASS */
li{
    list-style-type: none;
}
/* --------------------------------------- */


/* REUSABLE CLASS */
.flex{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.button{
    display: flex;
    align-items: center;
    height: 50px;
    border: 2px solid black;
}

/* ---------------------------------------------------------------------- */

.navigation{
    width: 100%;
}

.navbar{
    height: 10vh;
    border: 5px solid blue;
}

.left-nav{
    display: flex;
    align-items: center;
    height: 50px;
    border: 2px solid black;
}

.logo{
    display: flex;
    align-items: center;
    height: 50px;
    border: 2px solid black;
}

.r-nav{
    width: 100%;
    flex-direction: row-reverse;
}

.right-nav{
    display: flex;
    align-items: center;
    height: 50px;
    border: 2px solid black;
}


.jumbotron{
    margin: 0 200px;
}

.jumbo{
    height: 70vh;
    border: 5px solid red;
}

.titolo{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    border: 2px solid black;
}

.box{
    height: 50vh;
}

.column-30{
    width: 30%;
    border: 5px solid blue;
}

.column-70{
    width: 70%;
    border: 5px solid blue;
    
}


main{
    margin: 0 300px;
}


.business-selection{
    height: 30vh;
    border: 5px solid cornflowerblue ;
}

.business-plan{
    height: 90vh;
    border: 5px solid violet;
    gap: 50px;
}

.plan{
    width: 100%;
    border: 5px solid blue;
}

.head-column{
    width: 100%;
    height: 5vh;
    border: 5px solid red;
}

.business-plus{
    height: 30vh;
    border: 5px solid violet;
}

.find-partner{
    height: 80vh;
    border: 5px solid cyan;
}

.information{
    height: 100vh;
    border: 5px solid lime;
}

.information-plus{
    height: 30vh;
    border: 5px solid lime;
}

.adv-banner{
    height: 50vh;
    border: 5px solid orange;
}

.offer{
    height: 30vh;
    border: 5px solid orangered;
}

.faq{
    height: 50vh;
    border: 5px solid brown;
}


footer{
    height: 40vh;
    background-color: black;
}