/* RESET */

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* --------------------------------------- */


/* GENERAL CLASS */

hr{
    width: 50px;
    margin: 30px 0 0 30px;
    opacity: 0.5;
}

li{
    padding: 0 15px;
    display: flex;
    align-items: center;
}

ul{
    list-style-type: none;
}

.icon{
    margin-right: 5px;
}

li h3{
    font-size: 1.2rem;
}

/* ----------------------------------------- */


/* BUTTON CLASSES */

.start-button{
    background-color: #0061FF;
    color: white;
    padding: 5px 15px;
    border-style: none;
}

.try-button{
    background-color: #0061FF;
    color: white;
    margin: 20px 0;
    padding: 10px 20px;
    border-style: none;
    font-size: .7rem;
}

input[type="radio"] {
    transform: scale(1.5);
    margin-right: 10px;
}

.find-button{
    border: 1px solid grey;
    color: grey;
    margin-top: 20px;
    background-color: white;
    padding: 5px 5px;
}

.offer-button{
    border: none;
    padding: 10px 20px;
}

.menu-button{
    border: none;
    background-color: white;
    position: absolute;
    right: 50px;
}

/* --------------------------------------------- */


/* REUSABLE CLASS */

.flex{
    display: flex;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

.flex-between{
    display: flex;
    justify-content: space-between;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.none{
    text-decoration: none;
    color: black;
}

.margin-30{
    margin: 30px 15px 0 15px;
}

.check{
    color:#0061FF;
    font-size: 1rem;
    margin-bottom: 10px;
}

.lightgrey{
    opacity: .5;
}

.margin-0-350{
    margin: 0 350px;
}

/*-----------------------------------------*/


/* HEADER */

header{
height: 10vh;
}

.navbar{
    height: 100%;
    align-items: center;
}

/* ------------------------------------- */


/* JUMBOTRON */

.jumbotron{
    height: 70vh;
    background-color: #B4D0E7;
}

.jumbo{
    width: 100vh;
    height: 50vh;
    position: relative;
    top: 40px;
}

.main-title{
    margin-top: 40px;
    width: 100vh;
    font-size: 2.2rem;
}


.column-40{
    width: 40%;
    font-size: .7rem;
}

.column-60{
    width: 60%;
}

.jumbo-img{
    width: 130%;
}

.arrow-down{
    font-size: 2rem;
    padding-top: 70px;
}

/* -------------------------------------- */


/* BUSINESS-SELECTION */

.selection-container{
    width: 100%;
}

.business-selection{
    margin-top: 100px;
}

.minor-title{
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.month{
    margin-top: 10px;
    display: inline-block;
    padding-right: 50px;
    font-size: 1.2rem;
}

.year{
    display: inline-block;
    font-size: 1.2rem;
}

/* ------------------------------------- */


/* BUSINESS PLAN */

.business-plan{
    width: 100%;
    height: 100vh;
    margin-top: 40px;
}

.business-container{
    gap: 10px;
}

.column{
    width: calc(100% / 3);
    border: 1px solid grey;
}

.column li{
    padding-bottom: 10px;
    font-size: .7rem;
}

.head-column{
    height: 5vh;
    border-bottom: 1px solid grey;
}

li a{
    padding-left: 5px;
    color: #8383F6;
}

/* ------------------------------------ */

/* BUSINESS PLUS */

.business-plus{
    width: 100%;
}

.plus-container{
    border: 1px solid grey;
    margin: 20px 350px;
}

.column-plus{
    display: flex;
    height: 100%;
}
.column-70{
    width: 70%;
}
.column-30{
    width: 30%;
}

.special li{
    padding-bottom: 10px;
    font-size: .7rem;
}

.column-70 p{
    margin: 30px 0 0 30px;
    padding-bottom: 20px;
    font-size: .7rem;
}

.contact{
    margin: 30px 20px;
}

/*-------------------------------------- */


/* FIND PARTNER */

.find-partner{
    width: 100%;
    margin: 100px 0;
}

.partner-container{
    height: 100%;
}

.partner-img{
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.partner-container .column-40{
    margin: 50px 0 0 40px;
}
.partner-container h3{
    font-size: 1.2rem;
    padding-bottom: 10px;
}


/* ------------------------------------ */


/* INFORMATION */

.card{
    width: calc(100% / 3);
    padding: 0 40px 20px 0;
}

.row-50{
    height: 60%;
}

.row-30{
    height: 40%;
}

.margin-top{
    margin-top: 30px;
}

.business-feature{
    width: 100%;
}

.row-30 p{
    font-size: 0.7rem;
    margin-top: 20px;
}

/* ----------------------------------- */


/* INFORMATION PLUS */

.information-plus{
    height: 30vh;
    margin: 100px 0 50px 0;
}

.information-container{
    height: 100%;
}

.information-container h2{
    margin: 50px 0;
    font-size: 2rem;
}
.information-container a{
    color: #8383F6;
}

/* -------------------------------- */


/* ADV BANNER */

.adv-banner{
    height: 70vh;
    position: relative;
}

.adv-container{
    width: calc(100% / 3);
    height: 100%;
}

.adv-box{
    width: calc(100% / 2);
    height: calc(100% / 2);
}

.svg{
    width: 70%;
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(342deg) brightness(104%) contrast(102%);
}

.svg-center{
    position: relative;
    width: 70%;
    top: 0;
    padding-left: 50px;
}

.line{
    width: 100px;
    position: absolute;
    top: 170px;
    border-bottom: 1px solid grey;
    margin-left: 50px;
}

.adv-container p{
    margin: 0 50px 10px 50px;
    font-size: .7rem;
}

/* --------------------------------- */


/* OFFER */

.offer{
    height: 35vh;
    background-color: #B4D0E7;
}

.offer-container{
    height: 100%;
}

.offer-column h2{
    color: #64102E;
}

/* ------------------------- */


/* FAQ */

.faq{
    height: 50vh;
}

.faq-container{
    height: 100%;
    padding-top: 50px;
}
.question{
    border-bottom: 1px solid black;
}

.question h2{
    font-size: 2rem;
    padding-bottom: 40px;
}

.faq-container div p{
    border-bottom: 1px solid black;
    padding: 20px 0;
    font-size: .7rem;
    font-weight: bold;
}

.question-menu{
    position: relative;
}

/* ------------------------------- */


/* FOOTER */

footer{
    background-color: black;
}

.footer-container{
    margin: 0 200px;
    height: 100%;
    color: white;
}

.footer-container h2{
    padding: 20px 0;
}


.footer-column{
    width: calc(100% / 5);
    height: 100%;
    color: white;
}

.footer-column ul li{
    padding: 5px 10px;
    font-size: .7rem;
}

.bottom-b{
    width: 100px;
    margin: 50px 210px;
    border-bottom: 1px solid white;
}

.lenguage{
    margin: 0 210px;
    padding-bottom: 50px;
    color: white;
}

.lenguage span{
    padding-left: 5px;
    font-size: .6rem;
}

/* ------------------------------ */


/* COLOR BOX ADV */

.red{
background-color: #D5001F;  
} 

.blu{
    background-color: #0D2481;  
} 

.giallo{
    background-color: #FFD830;  
} 

.cyano{
    background-color: #B4D0E7;  
} 

.verde{
    border: 15px solid #D1E9CD;
    background-color: #A2D39B;  
} 

.red-plus{
    background-color: #FF1C1C;  
} 

.azzurro{
    background-color: #0093CE;  
} 

.brown-red{
    background-color: #61082B;  
} 

.grigetto{
    background-color: #F5F5F5;
}
